PORT=3000 # app port
SECRET="secret" # jwt private key

MONGO_ROOT_NAME="root" # mongodb root user username
MONGO_ROOT_PASS="pass" # mongodb root user password
MONGO_DB_NAME="PGA" # mongodb db name
MONGO_HOST="localhost" # mongodb host
MONGO_PORT=27017 # mongodb port to brodcast from container